{% extends "index.html" %}

{% block title %}Créer Utilisateur{% endblock %}

{% block style %}
<style>
    .container {
        max-width: 500px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    body {
        width: 100%;
        height: 100%;
        --s: 82px;
        --c1: #b2b2b2;
        --c2: #ffffff;
        --c3: #d9d9d9;
        
        --_g: var(--c3) 0 120deg, #0000 0;
        background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
            conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
            conic-gradient(
            from 60deg at calc(200% / 3),
            var(--c3) 60deg,
            var(--c2) 0 120deg,
            #0000 0
            ),
            conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
            linear-gradient(
            90deg,
            var(--c1) calc(100% / 6),
            var(--c2) 0 50%,
            var(--c1) 0 calc(500% / 6),
            var(--c2) 0
            );
        background-size: calc(1.732 * var(--s)) var(--s);
    }
</style>
    
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Créer un Utilisateur</h1>
    <form action="/user/ajouter" method="POST">
        <!-- Champ pour le nom d'utilisateur -->
        <div class="form-group">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" placeholder="Entrez le nom d'utilisateur" required>
        </div>
        <!-- Champ pour le mot de passe -->
        <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" placeholder="Entrez le mot de passe" required>
        </div>
        <!-- Champ pour la confirmation du mot de passe -->
        <div class="form-group">
            <label for="confirm_password">Confirmez le mot de passe :</label>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmez le mot de passe" required>
        </div>
        <!-- Bouton de soumission -->
        <button type="submit">Créer l'utilisateur</button>
    </form>
</div>
{% endblock %}
